<div layout="column" ng-cloak 
	 style="height:100%;">
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="true"
					md-disable-backdrop
					md-whiteframe="4"
					style="width: 20%;">

			<md-toolbar style="background-color: #3F51B5;">
				<img src="https://avatars0.githubusercontent.com/u/139426?v=3&s=400" 
					 style="margin: auto; height: auto;">
			</md-toolbar>

			<md-content layout-padding >
				<md-list-item ng-click="navigateTo('main.order')">
					<md-icon md-svg-icon="./bower_components/ionicons/src/navicon-round.svg"></md-icon>
					<p>訂單生成</p>
				</md-list-item>
				<md-list-item ng-click="navigateTo('main.enter')">
					<md-icon md-svg-icon="./bower_components/ionicons/src/navicon-round.svg"></md-icon>
					<p>產品入庫</p>
				</md-list-item>
				<md-list-item ng-click="navigateTo('main.dashboard')">
					<md-icon md-svg-icon="./bower_components/ionicons/src/navicon-round.svg"></md-icon>
					<p>產品出庫</p>
				</md-list-item>
				<md-list-item restricted-area access="role-admin" ng-click="navigateTo('main.dashboard')">
					<md-icon md-svg-icon="./bower_components/ionicons/src/navicon-round.svg"></md-icon>
					<p>帳號管理</p>
				</md-list-item>
				<md-list-item ng-click="logout()">
					<md-icon md-svg-icon="./bower_components/ionicons/src/log-out.svg"></md-icon>
					<p>退出</p>
				</md-list-item>
			</md-content>

		</md-sidenav>

		<md-content flex class="background">
				<md-content class="background">
					<ui-view class="background anim-in-out anim-fade" data-anim-speed="1000"></ui-view>
				</md-content>
			</div>
		</md-content>
	</section>
</div>

