<div ng-cloak="" 
     layout="column" class="md-inline-form inputdemoBasicUsage" 
     style="width: 864px; 
            margin: auto;
            padding-top: 60px;">

  <md-toolbar class="light-blue">
    <h2 class="md-toolbar-tools">
      <span>訂單信息</span>
      <span flex></span>
      <md-button class="md-raised md-warn" 
                 ng-click="generateBarcode()"
                 ng-disabled="userForm.$invalid">生成條形碼</md-button>
    </h2>
  </md-toolbar>


  <md-content layout-padding="" 
              style="border-width: 0px 2px 2px 2px; 
                     border-style: solid;
                     overflow: hidden;
                     border-color: #3F51B5;">
    <form name="userForm" print>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>編輯人員代號</label>
          <input ng-model="order.editorId">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>公司料號</label>
          <input ng-model="order.companyId">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>客戶料號</label>
          <input ng-model="order.customerId">
        </md-input-container>
      </div>


      <div layout-gt-xs="row"> 
        <md-input-container class="md-block" flex-gt-sm="">
          <label>備註</label>
          <input ng-model="order.remark" required>
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
       <md-input-container class="md-block" flex-gt-sm="">
          <label>哈希值(自動生成)</label>
          <input ng-model="order.barcode"
                 style="color: #F44336;" disabled="">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>條形碼(自動生成)</label>
          <input ng-model="order.barcode"
                 style="color: #F44336;" disabled="">
        </md-input-container>
        <div bar-code code-value="order.barcode" class="no-code-value"></div>

      </div>

    </form>
  </md-content>

  <!-- <img id="barcode" barcode="{{order.barcode}}"></img> -->
<!--   <div bar-code code-value="order.barcode"></div>
 -->

  <md-button  class="md-raised md-primary" 
                  ng-click="printPreview()"
                  ng-disabled="(userForm.$invalid) || (!order.barcode)"
                  style="margin: 10px 0px 0px 0px;">新增</md-button>

</div>

<style type="text/css" media="screen">
  .inputdemoBasicUsage .md-datepicker-button {
    width: 36px; 
  }
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 10px;
  }
</style>
