<md-input-container class="md-icon-float md-block"
                    style="margin: 40px 350px 10px 350px;">
  <md-icon md-svg-src="./bower_components/ionicons/src/ios-search.svg" class="name"></md-icon>
  <label>搜索關鍵字</label>
  <input ng-model="filter.search" type="text"> 
</md-input-container>

<div class="account"
     style="margin: 0px 15px;
            border: 2px solid #3F51B5;">  

	<md-toolbar class="light-blue md-table-toolbar">
		<div class="md-toolbar-tools">
			<span>帳號管理</span>
			<span flex></span>
       		<md-button class="md-raised md-success">
       			刷新資料
       		</md-button>	
		</div>
	</md-toolbar>
  <!-- exact table from live demo -->
	<md-table-container>
		<table md-table>
			<thead md-head md-order="query.order" md-on-reorder="onReorder">
			<tr md-row>
				<th md-column md-order-by="username"><span>帳戶名</span></th>
				<th md-column md-order-by="name">暱稱</th>
				<th md-column md-order-by="email">郵箱</th>
				<th md-column md-order-by="privilege">權限等級</th>
				<th md-column md-order-by="lastlogin">上次登入</th>
				<th md-column md-order-by="active">活躍</th>
			</tr>
			</thead>
		<tbody md-body>
			<tr md-row md-select="user" md-select-id="{{user.name}}" md-auto-select 
			ng-repeat="user in userList | 
					   filter: filter.search | 
					   orderBy: query.order | 
					   limitTo: query.limit : (query.page -1) * query.limit" 
			ng-click="edit(user)">
				<td md-cell class="username">
					{{user.username}}
				</td>
				<td md-cell class="name">
					{{user.name}}
				</td>
				<td md-cell class="email">
					{{user.email}}
				</td>
				<td md-cell class="role">
					{{privilegeMap[user.privilege]}}
				</td>
				<td md-cell class="lastlogin">
					{{user.lastlogin}}
				</td>
				<td md-cell class="active">
					{{user.active}}
				</td>
			</tr>
		</tbody>
		</table>
	</md-table-container>

<!--   <md-table-pagination  md-limit="query.limit" 
                        md-page="query.page" 
                        md-total="{{desserts.count}}" 
                        md-options="[5,6,7]"
                        md-page-select>
  </md-table-pagination> -->
</div>

<style type="text/css" media="screen">
.md-table-search-inbox{
  margin-bottom: 0px;
} 
.account .md-errors-spacer{
	display:none !important;
}
tbody input, md-select-value{
	color:black !important;
}
md-input-container label {
	display: none;
}

tbody tr[md-row]:hover {
 	background-color: #C5CAE9;
 	transition: background-color 500ms linear;
}
</style>
