<div ng-controller="FormCtrl" ng-cloak="" 
     layout="column" class="md-inline-form inputdemoBasicUsage" 
     style="width: 864px; 
            margin: auto;
            padding-top: 60px;">

  <md-toolbar class="light-blue">
    <h2 class="md-toolbar-tools">
      <span>錄入表單</span>
      <span flex></span>
      <md-button  class="md-raised md-warn" 
                ng-click="generateBarcode()"
                ng-disabled="true">生成條形碼</md-button>
    </h2>
  </md-toolbar>

  <md-content layout-padding="" 
              style="border-width: 0px 2px 2px 2px; 
                     border-style: solid;
                     border-color: #3F51B5;">
    <form name="userForm">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs="">
          <label>編輯人員代號</label>
          <input ng-model="editor" disabled="">
        </md-input-container>

        <md-datepicker ng-model="good.birthday" md-placeholder="產出月份"></md-datepicker>
      </div>


      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>貨品編號</label>
          <input ng-model="good.id">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>貨品數量</label>
          <input ng-model="good.amount">
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>存放位置</label>
        <input ng-model="good.location">
      </md-input-container>


      <md-input-container class="md-block">
        <label>條形碼(自動生成)</label>
        <input ng-model="good.barcode" disabled="">
      </md-input-container>
    </form>
  </md-content>

  <md-button  class="md-raised md-primary" 
                  ng-click="printBarcode()"
                  ng-disabled="false"
                  style="margin: 10px 0px 0px 0px;">打印條形碼</md-button>

</div>

<style type="text/css" media="screen">
  .inputdemoBasicUsage .md-datepicker-button {
    width: 36px; 
  }
</style>
