<md-dialog aria-label="edit-dialog"   style="margin: 0px 15px;
            border: 2px solid #3F51B5;" >
 	
	<md-toolbar class="light-blue md-table-toolbar">
		<div class="md-toolbar-tools">
			<span>修改產品信息</span> 
		</div>
	</md-toolbar> 
    <md-dialog-content style="width:800px;padding: 0px 20px;" >
     	<form name="userForm">
	      	<div layout-gt-xs="row">
	      	 	<md-input-container class="md-block" flex-gt-sm="">
		          	<label>訂單料號</label>
		          	<input ng-model="result.reservbarcode"
		                 style="color: #F44336;">
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>產品料號</label>
		          <input ng-model="result.storagebarcode"  style="color: #F44336;">
		        </md-input-container>		      
	        </div>

	        <div layout-gt-xs="row"> 
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>場外料號</label>
		          <input ng-model="result.externalpartno"
		                 style="color: #F44336;">
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>廠內料號</label>
		          <input ng-model="result.internalpartno"
		                 style="color: #F44336;">
		        </md-input-container>
	      	</div>

		    <div layout-gt-xs="row"> 
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>月份週期</label>
		          <input ng-model="result.producetime" 
		                 style="color: #F44336;">
		        </md-input-container>
		    
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>存放位置</label>
		          <input ng-model="result.location" 
		                 style="color: #F44336;">
		        </md-input-container>
		    </div>

		    <div layout-gt-xs="row"> 
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>品名</label>
		          <input ng-model="result.itemname" 
		                 style="color: #F44336;">
		        </md-input-container>
		    
		        <md-input-container class="md-block" flex-gt-sm="">
		          <label>數量</label>
		          <input ng-model="result.realnumperitem" 
		                 style="color: #F44336;">
		        </md-input-container>
		    </div>
	    </form>
		<div layout-gt-xs="row">
			<span flex></span>
			<md-button style="margin-right:20px;" ng-click="cancel()">
				取消
			</md-button>
			<md-button class="md-accent"  ng-click="update()" style="margin-right:20px;" >
				更新
			</md-button>
		</div>
	     
    </md-dialog-content>

  </form>
</md-dialog>

<style type="text/css">
.title-column {
  width: 20% !important;
}
.title-column input{
  background: none !important;
  color: black !important;
}
 .err {
    color:red;
  }
</style>