<md-input-container class="md-icon-float md-block"
                    style="margin: 40px 350px 10px 350px;">
  <md-icon md-svg-src="./bower_components/ionicons/src/ios-search.svg" class="name"></md-icon>
  <label>搜索關鍵字</label>
  <input ng-model="keyword" type="text" autofocus> 
</md-input-container>

<div class="manage-partno"
     style="margin: 0px 15px;
            border: 2px solid #3F51B5;">  

  <md-toolbar class="light-blue md-table-toolbar">
    <div class="md-toolbar-tools">
      <span>料號單</span>
      <span flex></span>
      <md-button class="md-raised md-warn">匯出</md-button>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table md-row-select ng-model="selected" md-progress="promise">
      <thead md-head md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
          <th md-column md-order-by="editorId"><span>錄入人員</span></th>
          <th md-column md-order-by="companyId">公司料號</th>
          <th md-column md-order-by="customerId">顧客料號</th>
          <th md-column md-order-by="remark">備註</th>
          <th md-column md-order-by="editorId">條形碼</th>
        </tr>
      
      </thead>
      <tbody md-body>
        <tr md-row md-select="dessert" md-select-id="{{dessert.name}}" md-auto-select 
            ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell>{{dessert.editorId}}</td>
          <td md-cell>{{dessert.companyId}}</td>
          <td md-cell>{{dessert.customerId}}</td>
          <td md-cell>{{dessert.remark}}</td>
          <td md-cell>{{dessert.remark}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination  md-limit="query.limit" 
                        md-page="query.page" 
                        md-total="{{desserts.count}}" 
                        md-options="[5,6,7]"
                        md-page-select>
  </md-table-pagination>
</div>

<style type="text/css" media="screen">
.md-table-search-inbox{
  margin-bottom: 0px;
} 
.md-column {
  text-align: left !important;
}
.md-cell {
  text-align: left !important;
}

</style>
