<!-- <md-input-container class="md-icon-float md-block"
                    style="margin: 40px 350px 10px 350px;">
  <md-icon md-svg-src="./bower_components/ionicons/src/ios-search.svg" class="name"></md-icon>
  <label>搜索關鍵字</label>
  <input ng-model="keyword" type="text" autofocus> 
</md-input-container> -->

<div class="manage-partno"
     style="width: 40%; margin: auto; margin-top:40px;
            border: 2px solid #3F51B5;">  

  <md-toolbar class="light-blue md-table-toolbar">
    <div class="md-toolbar-tools">
      <span>搜尋料號單</span>
      <span flex></span>
      <md-button class="md-raised md-success" ng-click="search()">
        搜尋
       </md-button>
    </div>
  </md-toolbar>
  <form name="partoNoSearchForm">
   <div layout-gt-xs="row" ng-repeat="idx in range(coulumnNum) track by $index">

      <md-input-container md-no-float>
        <md-select ng-model="columnName" ng-required="true" placeholder="搜索關鍵字">
          <md-option ng-repeat="(column, name) in columnMap" value="{{column}}">
            {{name}}
          </md-option>
        </md-select>
      </md-input-container>


      <md-input-container md-no-float class="md-block" flex-gt-sm="">
        <label></label>
        <input ng-model="searchObj[columnName]"  ng-required="true">
      </md-input-container>

    </div>
  </form>

  <div layout-gt-xs="row">
    <span flex></span>
    <md-button class="md-icon-button md-accent" md-accent aria-label="More"  ng-click="addColumn()">
     <md-icon md-svg-icon="./bower_components/ionicons/src/plus-round.svg"></md-icon>
    </md-button>
  </div>
  </div>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table md-progress="promise">
      <thead md-head md-order="internalpartno" md-on-reorder="onReorder">
        <tr md-row>
          <th md-column md-order-by="internalpartno"><span>內部料號</span></th>
          <th md-column md-order-by="externalpartno">外部料號</th>
          <th md-column md-order-by="itemname">品名</th>
          <th md-column md-order-by="note">備註</th>
          <th md-column md-order-by="reservbarcode">條形碼</th>
        </tr>
      
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="result in results | 
                              filter: filter.search | 
                              orderBy: query.order | 
                              limitTo: query.limit : (query.page -1) * query.limit">
          <td md-cell>{{result.internalpartno}}</td>
          <td md-cell>{{result.externalpartno}}</td>
          <td md-cell>{{result.itemname}}</td>
          <td md-cell>{{result.note}}</td>
          <td md-cell>{{result.reservbarcode}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination  md-limit="query.limit" 
                        md-page="query.page" 
                        md-options="[5,6,7]"
                        md-page-select>
  </md-table-pagination>


<style type="text/css" media="screen">
.md-table-search-inbox{
  margin-bottom: 0px;
} 
.md-column {
  text-align: left !important;
}
.md-cell {
  text-align: left !important;
}
.manage-partno md-input-container {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}

</style>
