<div ng-cloak="" 
     layout="column" class="md-inline-form inputdemoBasicUsage" 
     style="width: 40%; 
            margin: auto;
            padding-top: 60px;">

  <md-toolbar class="light-blue">
    <h2 class="md-toolbar-tools">
      <span>新增帳戶</span>
      <span flex></span>
       <md-button class="md-raised md-warn" ng-click="user={};rpassword=''">清空資料</md-button>
    </h2>
  </md-toolbar>


  <md-content layout-padding="" 
              style="border-width: 0px 2px 2px 2px; 
                     border-style: solid;
                     overflow: hidden;
                     border-color: #3F51B5;">
    <form name="userForm">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>用戶名</label>
          <input ng-model="user.username" ng-required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>暱稱</label>
          <input ng-model="user.name" ng-required="true">
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>電子信箱</label>
          <input ng-model="user.email"  ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>權限</label>
          <md-select ng-model="user.privilege" ng-required="true">
            <md-option ng-repeat="(privilege,name) in privilegeMap" value="{{privilege}}">
              {{name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>密碼</label>
          <input ng-model="user.password" type="password" ng-required="true">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-sm="">
          <label>密碼確認</label>
          <input ng-model="rpassword" type="password" ng-required="true">
        </md-input-container>
      </div>
      <div layout-gt-xs="row">
         <span class="err" 
         ng-show="psdLegel(user.password) && psdLegel(rpassword) && user.password !== rpassword">密碼不一致</span>
      </div>
    

    </form>
  </md-content>

  <md-button  class="md-raised md-primary" 
                  ng-disabled="userForm.$invalid"
                  ng-click="signIn(user);"
                  style="margin: 10px 0px 0px 0px;">新增</md-button>

</div>

<style type="text/css" media="screen">
  .inputdemoBasicUsage .md-datepicker-button {
    width: 36px; 
  }
  .no-code-value {
    background-color: white;
    width: 350px;
    height: 10px;
  }
  .err {
    color:red;
  }
</style>
