<div ng-cloak="" 
     layout="column" class="md-inline-form inputdemoBasicUsage" 
     style="width: 864px; 
            margin: auto;
            padding-top: 60px;">

  <md-toolbar class="light-blue">
    <h2 class="md-toolbar-tools">
      <span>產品條碼</span>       
      <span flex></span>
      <md-button  class="md-raised md-warn" 
                ng-click="createStorage()"
                ng-disabled="userForm.$invalid">新增</md-button>
    </h2>
  </md-toolbar>

  <md-content layout-padding="" 
              style="border-width: 0px 2px 2px 2px; 
                     border-style: solid;
                     overflow: hidden;
                     border-color: #3F51B5;">
    <form name="userForm">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex="25" flex-gt-sm="">
          <label>訂單料號(掃碼讀入)</label>
          <input autofocus ng-keydown="watchKey($event)" ng-model="product.reservbarcode">
        </md-input-container>
       <md-input-container class="md-block" flex-gt-sm="">
          <label>備註</label>
          <input ng-model="product.note"
                 style="color: #F44336;" disabled="">
        </md-input-container>
      </div>

       <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>品名</label>
          <input ng-model="product.itemname"
                 style="color: #F44336;" disabled="">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>客戶料號</label>
          <input ng-model="product.externalpartno"
                 style="color: #F44336;" disabled="">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>廠內料號</label>
          <input ng-model="product.internalpartno"
                 style="color: #F44336;" disabled="">
        </md-input-container>
      </div>


      <div layout-gt-xs="row"> 

        <md-input-container class="md-block" flex-gt-sm="">
          <label>貨品數量</label>
          <input ng-model="product.num" type="number" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>每份多少數量</label>
          <input ng-model="product.numperitem" type="number" required>
        </md-input-container>
       
        <md-input-container class="md-block" flex-gt-sm="">
          <label>月份週期</label>
          <input ng-model="product.producetime" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>存放位置</label>
          <input ng-model="product.location" required>
        </md-input-container>
      </div>

    </form> 
  </md-content>

<div layout-gt-xs="row" layout-align="center" ng-repeat="row in barcodeRows"> 
  <div ng-repeat="obj in row" layout-gt-xs="row" layout-align="center" layout-align="center">
     <img bar-code code-value="{{obj.storagebarcode}}" 
          class="no-code-value"
          ng-click="downloadBarcode(obj.storagebarcode)">
  </div>
</div>

<md-button  class="md-raised md-primary" 
                  ng-click="barCodeDownload()"
                  ng-disabled="(userForm.$invalid) || (!products.barcode)"
                  style="margin: 10px 0px 0px 0px;">打印條形碼</md-button>

</div>


 <md-content layout-padding=""  
             ng-repeat="obj in barcodeObjs" 
             download-item="{{obj.storagebarcode}}" 
             ng-click="download(obj.storagebarcode)" style="width:80%; margin: auto; margin-top: 10px;  box-shadow: 5px 5px grey;">


  <div layout-gt-xs="row" layout-align="center">
     <md-input-container md-no-float class="md-block" flex-gt-sm="">
        <span>品名</span>
        <input ng-model="obj.itemname" placeholder="">
      </md-input-container>
      <md-input-container md-no-float class="md-block" flex-gt-sm="">
        <span>數量</span>
        <input ng-model="obj.numperitem" placeholder="">
      </md-input-container>

  </div>
      
      
  <div layout-gt-xs="row" layout-align="center"> 
      <md-input-container md-no-float class="md-block" flex-gt-sm="">
        <span>內部料號</span>
        <input ng-model="obj.internalpartno" placeholder="">
      </md-input-container>

      <md-input-container md-no-float class="md-block" flex-gt-sm="">
        <span>外部料號</span>
        <input ng-model="obj.externalpartno" placeholder="">
      </md-input-container>
      
  </div>

  <div layout-gt-xs="row" layout-align="center"> 
    <canvas bar-code-form code-value="{{obj.storagebarcode}}"></canvas>
  </div>

 </md-content>




<style type="text/css" media="screen">
  .inputdemoBasicUsage .md-datepicker-button {
    width: 36px; 
  }
  .no-code-value {
    /* background-color: white; */
    width: 350px;
    height: 120px;
    float:right;
  }

</style>
